<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.png">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css" />
	
  <!-- Rich Snippets -->
  <script type="application/ld+json">
    { "@context" : "http://schema.org",
      "@type" : "Person",
      "name" : "Dragoș DUȚU",
      "additionalName": "Dutzu",
      "jobTitle" : "Project Manager",
      "worksFor": "Brandient Europe",
      "url" : "https://www.dutzu.eu",
      "sameAs" : [ "https://www.linkedin.com/in/dragosdutu",
      "description" : "Dragoș DUȚU is a communication specialist interested in branding, millennials and IT.",
      "email": "info@dutzu.eu"
    }
   </script>
  <!-- Relationship microformats -->
  <link rel="me" href="https://linkedin.com/in/dragosdutu" />
</head>

