<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="row">
      <div class="large-12 large-centered columns">

        <header class="masthead">
          <img src="{{ site.baseurl }}/public/DragosDUTU.jpg" alt="Dutzu, Dragos DUTU">
        </header>

    </div>
  </div>

  <div class="row">

    <div class="large-6 large-offset-3 columns">

      <div class="content-section">

        <p>
          Hello! I'm Dragos DUTU, a communication specialist interested in research, branding, millennials and IT.
       </p>
       <p>
      I am currently at Brandient, a mobile taskforce of multidisciplinary experts specialized in brand innovation on emerging markets and industries. My colleagues and I bring to the table a multidisciplinary mix of competencies — from marketing and business management to design thinking and unconventional communication.
       </p>
<p>
Before joining Brandient, I’ve gained 7 years of experience in academic communication and events, some of the latter still thriving today: the European Researchers’ Night Iasi, the International Festival of Literature and Translation Iasi, the International Conference on Physics of Advanced Materials et al. 
</p>
      <p>
      Particular fields of interest arose during my studies at UAIC, and I have materialised them into dissertations that analysed how brand associations are formed in the fragrance industry (BA) and the interactions of millennials with brands on social-media (MA). I needed a cultural shift, so I took part in two international semester programmes in Belgium - focused on international business management and communication management.
      </p>

      </div>

      <main>
      </main>

      <footer>

        <h2>Contact Me</h2>

        <p>
You can send me a message in the form below or connect with me on <a href="http://linkedin.com/in/dragosdutu">LinkedIn</a>.<br /><br />
         <form method="POST" action="https://formspree.io/info@dutzu.eu">
            <input type="hidden" name="_subject" value="Website Mail" />
            <input type="text" name="name" placeholder="Your name" />
            <input type="text" name="_replyto" placeholder="Your email" />
            <textarea name="message" placeholder="Your message"></textarea>
            <input type="hidden" name="_language" value="en" />
            <button type="submit">Send</button>
         </form>
        </p>

   <!-- <p class="copyright">
          &copy; Dragoș DUȚU <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </p> 
        <p class="logo">
          <img src="{{ site.baseurl }}" alt="">
        </p>
   -->
      </footer>

    </div>

    <div class="large-2 large-offset-1 columns social">
      <ul>
        <li><a href="http://linkedin.com/in/dragosdutu"><i class="icon-linkedin-squared"></i></a></li>
      </ul>
    </div>

  </div>

  </body>
</html>
