<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="row">
      <div class="large-12 large-centered columns">

        <header class="masthead">
          <img src="{{ site.baseurl }}/public/DragosDUTU.jpg" alt="Dutzu, Dragos DUTU">
        </header>

    </div>
  </div>

  <div class="row">

    <div class="large-6 large-offset-3 columns">

      <div class="content-section">

        <p>
          Hello! I'm Dragos DUTU, a communication specialist interested in branding, millennials and IT. I bring people-centered solutions for complex challenges.
       </p>
       <p>
       I’m currently working for Brandient,  a mobile taskforce of multidisciplinary experts specialized in brand innovation on emerging markets and industries. My previous experience was in academic communication and events:  the International Conference on Physics of Advanced Materials, the International Festival of Literature and Translation Iasi, the European Researchers’ Night Iasi, et al. 
       </p>
      <p>
         I've graduated Communication Sciences at Alexandru Ioan Cuza University of Iasi with dissertations that analysed how brand associations are formed in the fragrance industry (BA) and the interactions of millennials with brands on social-media (MA). During my studies, I took part in two international semester programmes in Belgium -- focused on international business management and communication management.
      </p>

      </div>

      <main>
      </main>

      <footer>

        <h2>Contact Me</h2>

        <p>
You can send me a message in the form below or connect with me on <a href="http://linkedin.com/in/dragosdutu">LinkedIn</a>. If you're a more visual person, you can find me on <a href="http://instagram.com/dragosdutu">Instagram</a>. <br /><br />
         <form method="POST" action="https://formspree.io/dragos@dutzu.eu">
            <input type="hidden" name="_subject" value="Website Mail" />
            <input type="text" name="name" placeholder="Your name" />
            <input type="text" name="_replyto" placeholder="Your email" />
            <textarea name="message" placeholder="Your message"></textarea>
            <input type="hidden" name="_language" value="en" />
            <button type="submit">Send</button>
         </form>
        </p>

    <!-- <p class="copyright">
          &copy; Dragoș DUȚU <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </p> -->
        <p class="logo">
          <img src="{{ site.baseurl }}/public/dutzu-color_logo.svg" alt="Dutzu logo">
        </p>
      </footer>

    </div>

    <div class="large-2 large-offset-1 columns social">
      <ul>
        <li><a href="http://linkedin.com/in/dragosdutu"><i class="icon-linkedin-squared"></i></a></li>
        <li><a href="https://instagram.com/dragosdutu"><i class="icon-instagram"></i></a></li>
      </ul>
    </div>

  </div>

  </body>
</html>
