<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="row">
      <div class="large-12 large-centered columns">

        <header class="masthead">
          <img src="{{ site.baseurl }}/public/DragosDUTU.jpg" alt="Dutzu, Dragos DUTU">
        </header>

    </div>
  </div>

  <div class="row">

    <div class="large-6 large-offset-3 columns">

      <div class="content-section">

        <p>
          Hello! I'm Dragos DUTU, a communication specialist interested in IT, branding and millennials. I bring people-centered solutions that improve communication and find the opportunity in challenges, to provide creative, long-term approaches for solving them.
       </p>

       <h3>Education</h3>
       <p>
         I'm an alumnus of Alexandru Ioan Cuza University of Iași, Romania - where I've graduated with a BA and MA in Communication Sciences. My dissertations analysed how brand associations are formed in the fragrance industry and the interactions of millennials with brands on social-media.
      </p>
       <p>In the Erasmus framework, I took part in two international semester programmes at Artevelde University College: International Business Management and Module in Communication Management. </p>
       


      </p>

      </div>

      <main>
        <h2>Selected Collaborations</h2>
        {% for post in site.posts %}
           <div class="project-post">
             <h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
             {{ post.content }}
           </div>
        {% endfor %}
      </main>

      <footer>
        <h2>Résumé</h2>

        <p>
        Want to pass it on? Here's a more <a href="{{ site.baseurl }}/public/dragosdutu-web_resume-en.pdf">detailed résumé</a>.
        </p>
        <h2>Contact Me</h2>

        <p>
        I am open for new collaborations. You can send me an message in the form below or connect with me on <a href="http://linkedin.com/in/dragosdutu">LinkedIn</a>. If you're a more visual person, you can find me on <a href="http://instagram.com/dragosdutu">Instagram</a>. <br /><br />
         <form method="POST" action="https://formspree.io/dragos@dutzu.eu">
            <input type="hidden" name="_subject" value="Formspree Mail" />
            <input type="text" name="name" placeholder="Your name" />
            <input type="text" name="_replyto" placeholder="Your email" />
            <textarea name="message" placeholder="Your message"></textarea>
            <input type="hidden" name="_language" value="en" />
            <button type="submit">Send</button>
         </form>
        </p>

    <!-- <p class="copyright">
          &copy; Dragoș DUȚU <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </p> -->
        <p class="logo">
          <img src="{{ site.baseurl }}/public/dutzu-color_logo.svg" alt="Dutzu logo">
        </p>
      </footer>

    </div>

    <div class="large-2 large-offset-1 columns social">
      <ul>
        <li><a href="http://linkedin.com/in/dragosdutu"><i class="icon-linkedin-squared"></i></a></li>
        <li><a href="https://instagram.com/dragosdutu"><i class="icon-instagram"></i></a></li>
      </ul>
    </div>

  </div>

  </body>
</html>
